h1 {
  font-family: "Licorice", cursive;
  font-family: "Manrope", sans-serif;
  font-size: 45px;
  font-weight: bold !important;
  color: #fff;
}

h2 {
  font-size: 75px !important;
  color: #fff;
}

p {
  font-family: "Licorice", cursive;
  font-family: "Manrope", sans-serif;
  font-size: 25px;
  color: #fff;
}

body {
  font-family: "Licorice", cursive;
  font-family: "Manrope", sans-serif;
  color: #fff;
}

footer { 
  text-align: center !important;
}

.card {
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
}

.days-of-week {
  font-family: "Licorice", cursive;
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 25px;
}

.emojis {
  font-family: "Licorice", cursive;
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 45px;
}

.temps {
  font-family: "Licorice", cursive;
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 25px;
}

.degree-right {
  text-align: right;
}
